body {
  background-image: url(redSign.jpg);
}

header{
  border: 2px solid black;
  border-width: 20px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline coral;
}


#bigSign {
  width: 500px;
  height: px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

#partnerLink {
  align-self: center;
}

h1 {
  font-weight: bold;
  color:white;
}


#bestPizza {
  height:299px;
  width: 500px;
}
#badPizza{
  width: 400px;
}
#dancePizza{
  width: 800px;
  height: 300px;
}

table {
  color: black;
}


#section1{ 
  color:darkblue;
  display: inline-block;
  background-color: pink;
}

#section2{
  color: purple;
  display: inline-block;
  background-color: yellow;
}

#section3{
  color: white;
  display: inline-block;
  background-color: red;
}
details {
  color: black;
  background-color: white;
}

p {
  color: darkblue;
}

footer{
  color: white;
}

button{
  border: 5x black;
  border-radius: 20%;
  
}