header{
  border: 3px solid white;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
}


#bigSign {
  width: 500px;
  height: px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

#partnerLink {
  align-self: center;
}

h1 {
  font-weight: bold;
  color: red;
}

body {
  background-color: white;
}

#bestPizza {
  height:299px;
  width: 500px;
}
#badPizza{
  width: 400px;
}
#dancePizza{
  width: 400px;
}

table {
  color: #4AF0FF;
}

section{
  display: inline-block;
  
  color:#9D76E3;
}

details {
  color: #F0E100;
}

p {
  color: lightcoral;
}

footer{
  color: green;
}
