header{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline coral;
}


#bigSign {
  width: 500px;
  height: px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

#partnerLink {
  align-self: center;
}

h1 {
  font-weight: bold;
  color: red;
}

body {
  background-color: white;
}

#bestPizza {
  height:299px;
  width: 500px;
}
#badPizza{
  width: 400px;
}
#dancePizza{
  width: 400px;
}

table {
  color: #4AF0FF;
}


#section1{ 
  color:green;
  display: inline-block;
}

#section2{
  color: purple;
  display: inline-block;
}

#section3{
  color: deepskyblue;
  display: inline-block;
}
details {
  color: darkred;
}

p {
  color: brown;
}

footer{
  color: green;
}

button{
  border: 5x black;
  border-radius: 20%;
  
}